/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

#map {
    height: 600px;
    width: 100%;
    border: 2px solid #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

p {
    text-align: center;
    color: #555;
}
